@{
}
<div class="container" style="margin-top: 30px;">
   <header class="page-header-text">
       <i class="fa fa-share-alt"></i> 
       API Links
   </header>
   

<div class="panel panel-default">
  <div class="panel-heading"><h4>Api Links</h4></div>
 
    <a href="~/api/Localization/Localizer" class="list-group-item">String Localizer</a>
    <a href="~/api/Localization/CommonLocalizer" class="list-group-item">Common Localizer</a>
    <a href="~/api/Localization/HtmlLocalizer" class="list-group-item">Html Localizer</a>

    <a href="#" class="list-group-item">Strongly Typed Resource</a>
    <a href="#" class="list-group-item">DebRes</a>
</div>



   
</div>