@{
    ViewBag.Title = "Localization Samples (.NET Core)";
}
@section header{
    <style>
        html, body { font-family: 'Trebuchet', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif }

        .header {
            font-size: 220%;
            line-height: 1.3em;
        }

        .btn { min-width: 130px; }
    </style>
}
<div class="jumbotron">

    <h2 class="headers">.NET Core Localization Samples (.NET Core)</h2>

    <img src="~/images/Westwind.Localization.png" style="margin-right: 10px;" class="pull-left"/>

    <p class="lead">
        This page provides some basic that demonstrate the concepts of ASP.NET Core
        Localization.

    </p>
    <p>
        These components work with ASP.NET Core using the standard ASP.NET Core IStringLocalizer
        as well as using the Westwind.Globalization provider that hooks into the ASP.NET Core
        Localization pipeline.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Samples</h3>
        <p>

        </p>
        <p>
            <a class="btn btn-default" href="~/home/ApiLinks">Api Service &raquo;</a>
        </p>
        <p>
            <a class="btn btn-default" href="~/home/cultures">Culture Data &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Verify Custom Db Provider</h3>
        <p>
            This page ensures that the Database Resource Manager and database are working. If this page comes up
            and properly displays text the provider is running and translating values properly.
        </p>
        <p>
            <a class="btn btn-default" href="~/home/cultures">Culture Info &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Resource Administration</h3>
        <p>Hit the localization admin page to dynamically modify your Database Resources while the application is running.</p>
        <p>
            <a class="btn btn-default" href="~/LocalizationAdmin/index.html">Edit &raquo;</a>
        </p>
    </div>
</div>